*
{
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}
.header
{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(Updated/Admin\ Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img
{
    width: 150px;
}
.nav-links
{
    flex:1;
    text-align: right;
}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background:#fc8524;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}
.text-box
{
    width:90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%) ;
    text-align:center ;
}
.text-box h1
{
    font-size:62px;
}
.text-box p
{
    margin:10px 0 40px;
    font-size:14px;
    color: #fff;
}
.hero-btn
{
    display: inline-block;
    text-decoration:none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background:transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 1s;
}
nav .fa
{
    display:none;
}
@media(max-width:700px)
{
    .text-box h1
    {
        font-size:20px;
    }
    .nav-links ul li
    {
        display: block;
    }
.nav-links
{
    position: absolute;
    background:#fc8524;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align:left;
    z-index: 2;
}
    nav .fa
    {
        display: block;
        color:#fff;
        margin: 10px;
        font-size:22px;
        cursor: pointer;
    }
    .nav-links ul
    {
        padding: 30px;
    }
}
.course
{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top:100px;
}
h1
{
    font-size: 36px;
    font-weight: 600;
}
P
{
    color:#7c7c7c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row
{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.course-col
{
    flex-basis: 31%;
    background:#fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3
{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}
.course-col:hover
{
box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.campus
{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col
{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img
{
    width: 100%;
    display: block;
}
.layer
{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: 0.5s;
}
.layer:hover
{
    background:rgba(250, 136, 29, 0.795);
}
.layer h3
{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3
{
    bottom: 49%;
    opacity: 1;
}
.facilities
{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top:100px;
}
.facilities-col
{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img
{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p
{
    padding:0;
}
.facilities-col h3
{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.cta
{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Updated/Runner1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding:100px 0;
}
.cta h1
{
    color: #fff;
    margin-bottom: 40px;
    padding:0;
}
@media(max-width:700px)
{
    .cta h1
    {
        font-size: 24px;
    }
}
.footer
{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: transparent;
}
.footer h4
{
margin-bottom: 25px;
margin-top: 20px;
font-weight: 600;
}
.sub-header
{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Updated/Ground\ 3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1
{
    margin-top: 100px;
}
.about-us
{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col
{
flex-basis: 48%;
padding: 30px 2px;
}
.about-col img
{
    width: 100%;
}
.about-col h1
{
    padding-top: 0;
}
.about-col p
{
    padding: 15px 0 25px;
}
.red-btn
{
    border: 1px solid#fc8524;
    background:transparent ;
    color:#fc8524;
}
.red-btn:hover
{
    color: white;
}
.icons .fa
{
    color:#fc8524;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o
{
    color:#fc8524;
}
.blog-content
{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left
{
    flex-basis: 65%;
}
.blog-left img
{
    width:100%;
}
blog-left h2
{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
blog-left p
{
    color:#999;
    padding: 0;
}
.blog-right
{
    flex-basis: 32%;
}
.blog-right h3
{
    background: #fc8524;
    color:#fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#555;
    padding: 8px;
    box-sizing: border-box;
}
.location iframe
{
    width: 100%;
}
.contact-us
{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top:100px;
}
.contact-us-col:hover
{
box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.contact-us-col
{
    flex-basis: 31%;
    background:#fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.contact-col
{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.Login-id 
{
  width: 300px;
  margin: 0 auto;
  padding: 70px;
  background-color: transparent;
  border-radius: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"]
 {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgb(74, 94, 100);
}
button 
{
    display: inline-block;
    text-decoration:none;
    color:#fff;
    border: 1px solid #26c7f8;
    padding: 12px 34px;
    font-size: 13px;
    background:transparent;
    position: relative;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
}
input[type="text"]:focus
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 1s;
}
input[type="password"]:focus
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 1s;
}
input[type="email"]:focus
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 1s;
}
input[type="text"]::placeholder
{
    color: antiquewhite;
}
input[type="password"]::placeholder
{
    color: antiquewhite;
}
input[type="email"]::placeholder
{
    color: antiquewhite;
}
button:hover 
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 1s;
}
.Login-id h2 
{
  text-align: center;
  color: #fc8524;
}
.Login-id p
{
    text-align: center;
    color: antiquewhite;
}
.Login-id a
{
    color: #fc8524;
}
.Login-id form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Secheader
{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(10, 80, 85, 0.74),rgba(102, 33, 145, 0.562)),url(Updated/Login\ Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.ThirdHeader 
{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(207, 160, 59, 0.747),rgba(184, 92, 164, 0.562)),url(Updated/Signup\ Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.content 
{
    width: 400px;
    margin: 0 auto;
    padding: 70px;
    background-color: transparent;
    border-radius: 5px;
}
input[type="submit"] 
{
    background-color: transparent;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover 
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 1s;
}
.ThirdHeader label
{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.ThirdHeader p
{
    text-align: center;
    color: antiquewhite;
}
.ThirdHeader a
{
    color: #fc8524;
}
.ThirdHeader h1
{
  text-align: center;
  color: #fc8524;
}
.ThirdHeader h3
{
  text-align: center;
  color: #fc8524;
}
.ThirdHeader button
{
    text-decoration:none;
    color:#fff;
    border: 1px solid #f8af26;
    padding: 12px 34px;
    font-size: 13px;
    background:transparent;
    position: relative;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
}
.ThirdHeader button:hover 
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 1s;
}
.ThirdHeader form
{
    flex-direction: column;
    align-items: center;
}
.DOB 
{   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: rgb(74, 94, 100);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}
.calendar 
{
    padding: 10px;
    border: 1px solid transparent;
    background-color: transparent;
    margin-right: 0px;
    color: antiquewhite;
    position: relative;
    padding-left: 75px;
}
.ThirdHeader .DOB h3
{
    padding-right: 100px;
    color: antiquewhite;
}
.ThirdHeader .DOB h5
{
    padding-right: 100px;
    color: antiquewhite;
}
.input-group 
{
  margin-bottom: 20px;
  text-align: left;
}
.FourthHeader
{
    min-height: 100vh;
    width: 100%;
    background-image:url("Updated/Player\ Background\ 1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.Player
{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
.Clicky
{
    margin: top 10px;;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Selection
{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.Selection img
{
    width: 100%;
    height: 100%;
    display: block;
}
.Magic
{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: 0.5s;
}
.Magic:hover
{
    background:rgba(250, 136, 29, 0.795);
}
.Magic a
{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;
}
.Magic:hover a
{
    bottom: 50%;
    opacity: 1;
}
.MyChoice
{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 65px;
    margin-right: 65px;
}
.MyChoice img
{
    width: 100%;
    height: 100%;
    display: block;
}
.player-info 
{
    width: 400px;
    margin: 0 auto;
    padding: 70px;
    background-color: transparent;
    border-radius: 5px;
    align-items: left;
    margin-left: 0px;
    margin-top: 0;
}
.player-info h2
{
    text-align: center;
    margin-bottom: 10px;
}
.player-information
{
    min-height: 100vh;
    width: 100%;
    background-image:url("Updated/Third.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.player-information .nav-links a
{
    color: antiquewhite;
}
.player-info player-details 
{
    margin-bottom: 20px;
}
.player-info label
{
    background-color: #c7b358b6;
    font-weight: bold;
    width: 100px;
    border-radius: 12px;
    text-align: center;
}
.info 
{
    display: flex;
    margin-bottom: 10px;
    padding: 15px;
}
.info span
{
    margin-left: 50px;
    color: whitesmoke;
    font-weight: bolder;
}
.player-info h2
{
    align-content: left;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.player-info img
{
    height: 100px;
    width: 100px;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.manage
{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(207, 160, 59, 0.747),rgba(184, 92, 164, 0.562)),url(Updated/Eighth.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.registration-form
{
    width: 400px;
    margin: 0 auto;
    padding: 70px;
    background-color: transparent;
    border-radius: 5px;
}
.manage .registration-form h2
{
    color: #e7d7b3;
    text-align: center;
    margin-bottom: 20px;
}
.manage .registration-form form-group select
{
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.form-group input[type="submit"]
{
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
}
.form-group input[type="submit"]:hover
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 1s;
}
.form-group label
{
    color: #e7d7b3;
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"]
{
    background-color: antiquewhite;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.form-group input[type="email"]
{
    background-color: antiquewhite;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.form-group 
{
    margin-bottom: 20px;
}
.Schedule-see
{
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(59, 207, 138, 0.747),rgba(158, 52, 84, 0.562)),url(Updated/Seventh.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.schedule-table 
{
    width: 100%;
    border-collapse: collapse;
}
.schedule-table th,
.schedule-table td 
{
  padding: 10px;
  border: 1px solid #072c2388;
}
.schedult-table th
{
    background-color: transparent;
}
.Payment-History
{
    min-height: 100vh;
    width: 100%;
    background-image: url("Updated/Benzema.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.Naruto
{
    width: 95%;
    margin: 0 auto;
    padding: 3px;
    margin-left: 5px;
}
.page-title 
{
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
    color: #e7d7b3;
}
.search-bar 
{
    margin-bottom: 20px;
    width: 200px;
    align-items: right;
}
.search-bar label
{
    color: #e7d7b3;
    display: block;
    margin-bottom: 5px;
}
.search-bar input[type="text"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fc8524;
    border-radius: 5px;
    background-color:transparent;
}
.search-bar input[type="text"]:focus
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 0.5s;
}
.search-bar input[type="text"]:placeholder
{
    color: #e7d7b3;
}
.search-bar
{
    align-items: left;
    margin-left: 83%;
    display: block;
    margin-bottom: 100px;
}
.payment-table th 
{
    background-color: #e7d7b3;
}
.payment-table th,
.payment-table td 
{
  padding: 10px;
  text-align: left;
  border: 1px solid #e7d7b3;
  font-weight: bold;
}
.payment-table 
{
    width: 100%;
    border-collapse: collapse;
}
.payment-table td:last-child 
{
    text-align: right;
}
.total-amount 
{
    font-weight: bold;
    text-align: right;
}
.Complain
{
    min-height: 100vh;
    width: 100%;
    background-image: url("Updated/Messi.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.Complain a
{
    color: #222;
}
.Complain-box
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.Complain-box h1
{
    font-size: 30px;
    font-weight: lighter;
    margin-left: 0px;
    margin-bottom: 7px;
}
.Complain .form-group label
{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #222;
}
.Complain .form-group input[type="text"],
.form-group textarea
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: antiquewhite;
}
.Complain-form
{
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.Complain .form-group
{
    margin-bottom: 20px; 
}
.Complain .form-group textarea
{
    height: 150px;
}
.Complain .form-submit button
{
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px
}
.Complain .form-submit button:hover
{
    background-color: #fc8524;
}
.Complain .form-submit
{
    text-align: center;
}
.Complain option
{
    background-color: antiquewhite;
}
.Complain .nav-links a
{
    color: #222;
}
.MyTeam
{
    min-height: 100vh;
    width: 100%;
    background-image: url("Updated/Fourth.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.MyBox 
{
    max-width: 100%;
    margin-left: 0px;
    padding: 20px;
    align-items: left;
    background-color: transparent;
    justify-content: space-between;
}
.filter-section 
{
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
}
.team-item:hover
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 0.5s;
}
.searchinput input[type="text"]
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    background-color: transparent;
}
.searchinput input[type="text"]::placeholder
{
    background-color: transparent;
}
.searchinput input[type="text"]:focus
{
    border: 1px solid#fc8524;
    background:#fc8524;
    transition: 0.5s;
}
.MyBox select
{
    color: antiquewhite;
    background-color: transparent;
}
.MyBox option
{
    background-color: transparent;
    color: black;
}
.MyBox .page-title
{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.team-list 
{
    margin-top: 20px;
}

.team-item 
{
    background-color: transparent;
    border: 1px solid antiquewhite;
    width: 300px;
    flex-basis: 31%;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    display: inline-block;
    justify-content: space-between;
    margin: 10px;
}
.team-item h3
{
    color: antiquewhite;
    margin-left: 0px;
    text-align: left;
}
.team-item p 
{
    margin: 0;
    color: antiquewhite;
}
.Coach-Team
{
    min-height: 100vh;
    width: 100%;
    background-image: url("Updated/Signup\ Background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.cont 
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.team-info 
{
    background-color: transparent;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 4px;

}
.player-item 
{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: antiquewhite;
    width: 500px;
    align-items: center;
    margin-left: 120px;
}
.cont .search-bar
{
    margin-bottom: 20px;
}
.cont .search-bar input
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.cont .page-title
{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.cont player-list
{
    list-style-type: none;
    padding: 0;
}